DEBUG=True
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
EMAIL_HOST_USER=your_test_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password
SECRET_KEY=your_secret_key
